rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /products/{productId}/{imageFile} {
      allow read: if true;
      allow create, update: if request.resource.size < 10 * 1024 * 1024
                            && request.resource.contentType.matches('image/.*');
      allow delete: if true;
    }
  }
}
